<%= form_with(model: serial, local: true) do |form| %>
  <% if serial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(serial.errors.count, "error") %> prohibited this serial from being saved:</h2>

      <ul>
      <% serial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :serial_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
